<!DOCTYPE html>
<html ng-app="collaboroApp">
<head>
  <title>Collaboro</title>
  <!-- STYLES -->
  <link rel="stylesheet" href="vendor/bootstrap-3.1.1-dist/css/bootstrap.css">
  <link rel="stylesheet" href="vendor/dashboard.css" >
  <link rel="stylesheet" href="vendor/clearly_highlight.css" >
  <link rel="stylesheet" href="vendor/select2-3.5.1/select2.css">
  <link rel="stylesheet" href="vendor/font-awesome.css">
  <link rel="stylesheet" href="vendor/angular-bootstrap-nav-tree-master/dist/abn_tree.css">

  <!-- VENDOR LIBRARIES -->
  <script src="vendor/jquery.min.js"></script>
  <script src="vendor/select2-3.5.1/select2.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular/angular-cookies.js"></script>
  <script src="vendor/angular/angular-resource.js"></script>
  <script src="vendor/angular/angular-route.js"></script>
  <script src="vendor/angular/angular-animate.js"></script>
  <script src="vendor/angular/angular-sanitize.js"></script>
  <script src="vendor/ui-select2-master/src/select2.js"></script>  
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <script src="vendor/ecore.js-master/underscore.js"></script>
  <script src="vendor/ecore.js-master/ecore.js"></script>
  <script src="vendor/angular-md5/angular-md5.js"></script>

  <!--<script src="vendor/angular-bootstrap-nav-tree-master/dist/abn_tree_directive.js"></script>-->
  <script src="vendor/angular-bootstrap-nav-tree-master/dist/abn_tree_directive_with_remove_branch.js"></script>

  <!-- ANGULAR APP SOURCES -->
  <!-- ORDER MATTERS! -->
  <script src="app/app.js"></script>
  <script src="app/RouteProvider.js"></script>

  <script src="app/services/services.js"></script>
  <script src="app/services/collaboration.js"></script>
  <script src="app/services/syntax.js"></script>
  <script src="app/services/security.js"></script>
  
  <script src="app/controllers/controllers.js"></script>
  <script src="app/controllers/login.js"></script>
  <script src="app/controllers/project.js"></script>
  <script src="app/controllers/abstractSyntax.js"></script>
  <script src="app/controllers/concreteSyntax.js"></script>
  <script src="app/controllers/collaboration.js"></script>

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-collapse collapse" ng-controller="LoginFormController">
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="isAuthenticated()"><a>{{currentUser.firstName}} {{currentUser.lastName}}</a></li>
          <li ng-show="isAuthenticated()"><a ng-click="logout()">Log out</a></li>
          <li ng-hide="isAuthenticated()"><a ng-click="showLogin()">Log in</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-view></div> 
</body>
</html>
