    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Collaboro!</h1>
        <p>Collaboro is an approach to make language development processes more participative, meaning that both developers and users of the language can collaborate together to create and evolve it.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>News</h2>
          <p>We are currently extending Collaboro to support the example-driven, collaborative definition of DSMLs. See more about this in the wiki. </p>
          <p><a class="btn btn-default" href="https://code.google.com/a/eclipselabs.org/p/collaboro/wiki/ExampleDriven" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Examples</h2>
          <p>To illustrate some of the features of Collaboro, we will present an example based on the development of a language to define workflows for model-driven engineering processes. </p>
          <p><a class="btn btn-default" href="https://code.google.com/a/eclipselabs.org/p/collaboro/wiki/Example" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>User Guide</h2>
          <p>Get introduced to the most common actions in Collaboro</p>
          <p><a class="btn btn-default" href="https://code.google.com/a/eclipselabs.org/p/collaboro/wiki/UserGuide" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© AtlanMod 2014</p>
      </footer>
    </div>