<div class="container-fluid" ng-controller="ProjectCtrl">
    <div class="row-fluid">
      <!--The vertical menu-->    
      <div class="col-sm-2 col-md-1 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="http://localhost:8001/Desktop/collaboro/index.html#/">Run Decissions</a></li>
        </ul>
      </div>
      <!--The four panels.--> 
      <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
         <div class="row-fluid" ng-controller="metamodelAndModelsCtrl">
          <!--The panel of the metamodel-->
          <div class="col-md-6">
            <div class="panel panel-primary"> 
              <div class="panel-heading">
                <!--<h3 class="panel-title">Language definition of  {{models[0].metamodelName}}</h3>-->
                <h3 class="panel-title">Language definition</h3>
              </div>
              <!-- <h1>Language definition of  {{models[0].metamodelName}}</h1> -->
              <div class="panel-body">
                <!--<img ng-src="{{models[0].metamodelImage}}" >-->
                <img ng-src="{{metamodelImage}}" style="margin: 0px 250px" height="300" width="300">
              </div>
            </div>
          </div>
          <!--The panel of the models--> 
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Notation examples</h3>
              </div>
              <div class="panel-body">  
                  <div ng-controller="imagesCtrl">
                    <div class="row"><img style="height:305px;" ng-src="{{slides[notationImageIndex].image}}"></div>
                    <div class="row" style="text-align:center;"><button ng-click="previousImage()" class="btn btn-default btn-sm"><<</button>
                    <button ng-click="nextImage()" class="btn btn-default btn-sm">>></button></div>
                    <!--<div style="height:305 px width:600">-->
                     <!--<ul rn-carousel class="image">
                      <li ng-repeat="image in sportImages" ng-style="{ backgroundImage: 'url(' + image + ')' }">
                        <div class="layer">{{ image }}</div>
                      </li>
                     </ul> -->           
                      <!--<carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                          <img ng-src="{{slide.image}}" style="margin:auto;">
                          <div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>
                          </div>
                        </slide>
                      </carousel>-->
                    <!--</div>-->
                  </div>
              </div> 
            </div>
          </div>
         </div> 
         <div class="row-fluid" ng-controller="versionsCtrl">
           <!--The panel of the versions--> 
           <div class="col-md-6">
            <div class="panel panel-primary">
             <div class="panel-heading">
                <h3 class="panel-title">Versions</h3>
             </div>
             <div class="panel-body">
               <div>
                <table>
                  <tr>
                    <td>
                      <div style="width:250px;margin-left:100px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                        <abn-tree tree-data="example_treedata" tree-control="my_tree" icon-leaf="fa fa-leaf" icon-expand="fa fa-plus-circle" icon-collapse= "fa fa-minus-circle"  on-select="my_tree_handler(branch); $broadcast('VersionSelectedEvent')" expand-level="0"></abn-tree>
                      </div>
                      <hr>
                        <button ng-click="showcollaboration()" class="btn btn-default btn-sm">Add</button>
                        <button ng-click="editcollaboration()" class="btn btn-default btn-sm">Edit</button>
                        <button ng-click="savecollaborations()" class="btn btn-default btn-sm">Save</button>
                        <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
                        <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
                    </td>
                  </tr>
                </table>
                <br>
                <!--<button ng-click="try_changing_the_tree_data()" class="btn btn-default muted">Change The Tree Definition</button>-->
               </div>
             </div>      
            </div>
  
           </div>  
           <!--The panel of the collaborations-->   
           <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Collaborations</h3>
             </div>
             <div class="panel-body">
              <div ng-controller="collaborationsCtrl">
                <accordion close-others="oneAtATime">
                  <accordion-group heading="{{group.title}}" ng-repeat="group in groups" is-open="true">
                   <p ng-bind-html="group.content"></p>
                  </accordion-group>
                </accordion>
              </div>
             </div>
            </div>
            
           </div>
         </div>    
      </div>    
    </div>
  </div>