<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="atlanmod.collaboro.ui"
            name="Collaboro">
      </category>
      <view
            category="atlanmod.collaboro.ui"
            class="fr.inria.atlanmod.collaboro.ui.views.VersionView"
            icon="icons/versionView.png"
            id="atlanmod.collaboro.ui.versionView"
            name="Version View"
            restorable="true">
      </view>
      <view
            category="atlanmod.collaboro.ui"
            class="fr.inria.atlanmod.collaboro.ui.views.CollaborationView"
            icon="icons/collaborationView.png"
            id="atlanmod.collaboro.ui.collaborationView"
            name="Collaboration View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               label="Collaboro">
            <command
                  commandId="fr.inria.atlanmod.collaboro.ui.executeDecisionEngineCommand"
                  label="Execute Decision Engine"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="fr.inria.atlanmod.collaboro.ui.voting"
            objectClass="fr.inria.atlanmod.collaboro.history.Collaboration">
         <action
               class="fr.inria.atlanmod.collaboro.ui.actions.CreateCommentAction"
               icon="icons/comment.png"
               id="fr.inria.atlanmod.collaboro.ui.versionView.createComment"
               label="Add a comment">
         </action>
         <action
               class="fr.inria.atlanmod.collaboro.ui.actions.CreateVotePositiveAction"
               icon="icons/positiveVote.png"
               id="fr.inria.atlanmod.collaboro.ui.versionView.votePositive"
               label="Vote Yes">
         </action>
         <action
               class="fr.inria.atlanmod.collaboro.ui.actions.CreateVoteNegativeAction"
               icon="icons/negativeVote.png"
               id="fr.inria.atlanmod.collaboro.ui.versionView.voteNegative"
               label="Vote No">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="fr.inria.atlanmod.collaboro.ui.solutionProposal"
            objectClass="fr.inria.atlanmod.collaboro.history.Proposal">
         <action
               class="fr.inria.atlanmod.collaboro.ui.actions.CreateSolutionAction"
               icon="icons/solution.png"
               id="fr.inria.atlanmod.collaboro.ui.versionView.solutionProposal"
               label="Propose Solution">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.inria.atlanmod.collaboro.ui.commandCategory"
            name="CollaboroCommands">
      </category>
      <command
            categoryId="fr.inria.atlanmod.collaboro.ui.commandCategory"
            id="fr.inria.atlanmod.collaboro.ui.executeDecisionEngineCommand"
            name="ExecuteDecisionEngine">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.inria.atlanmod.collaboro.ui.commands.ExecuteDecisionEngineCommand"
            commandId="fr.inria.atlanmod.collaboro.ui.executeDecisionEngineCommand">
      </handler>
   </extension>

</plugin>
