    <div class="jumbotron">
      <div class="container">
        <h1>Collaboro</h1>
        <h2>Create your Domain-Specific Language collaboratively</h2>
        <button class="btn" onclick="location.href='http://github.com/atlanmod/collaboro'">
          <img style="float: left; margin-right: 0px; margin-top: 0px; margin-right: 10px; padding-top: 0px; padding-left: 0px; width: 18px;" src="assets/img/gh-icon.png"/>
          Visit on GitHub
        </button>
        <button class="btn" onclick="location.href='https://github.com/atlanmod/collaboro#who-is-behind-this-project'">About us</button>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div style="margin-top: 25px;" class="row">
        <div class="col-md-5">
        <img style="width: 100%;" src="assets/img/community.png"/>
        </div>
        <div class="col-md-7">
        <h2>What is Collaboro?</h2>
        <p>Collaboro is an approach to make language development processes more participative, meaning that both developers and users of the language can collaborate together to create and evolve it. Collaboro supports both the collaborative definition of the abstract (i.e., metamodel) and concrete (i.e., notation) syntaxes for your DSL by providing a collaborative enviroment enabling the discussion.</p>
        <p>Anyone has the chance to request changes, propose solutions and give an opinion (and vote) about those from others. This discussion enrichs the language definition signicantly and ensures that the end result satisfies as much as possible the expectations of the end-users.</p>

        </div>
      </div>
      <div style="margin-top: 25px;" class="row">
        <div class="col-md-5">
        <h2>What is the development process?</h2>
        <p>Collaboro incorporates the community collaboration aspect into all DSML definition phases, making the early phases of the process more participative and promoting the early detection of possible bugs or problems. </p>
        <p>Once there is an agreement to create the language, community defines the collaboration strategy to make decisions (e.g., how can vote, number of votes to reach an agreement, etc.). The following steps are illustrated in the figure on your right. </p>
        </div>
        <div class="col-md-7">
        <img style="width: 100%;" src="assets/img/process.png"/>
        </div>
      </div>
      <div style="margin-top: 25px;" class="row">
        <div class="col-md-4">
          <h3 class="text-center">Step 1</h3>
          <p>Language developers get the requirements from the end users to create a preliminary version of the language to kickstart the actual collaboration process. This first version should include at least a partial abstract syntax but could also include a first concrete syntax draft (see DSML Definition). An initial set of sample models conforming to the DSML are also defined to facilitate an example-based discussion. </p>
        </div>
        <div class="col-md-4">
          <h3 class="text-center">Step 2</h3>
          <p>The community starts working together in order to shape the language. Community members can propose ideas or changes to the DSML, e.g., they can ask for modifications on how some concepts should be represented. These change proposals are shared in the community, who can also suggest and discuss how to improve the change proposals themselves. The approach also includes a recommender, which proposes new changes according to well-know metrics on DSMLs. All these proposals are eventually accepted or rejected. </p>
       </div>
        <div class="col-md-4">
          <h3 class="text-center">Step 3</h3>
          <p>Acceptance/rejection depends on whether the community reaches an agreement. For that, community members can vote. A decision engine (see Decision Engine) then takes these votes into account to calculate which collaborations are accepted/rejected by the community. Once an agreement is reached, the contents of the solution are incorporated into the language, thus creating a new version. The process keeps iterating until no more changes are proposed.</p>
        </div>
      </div>
      <hr>

      <footer>
        <p class="text-center">SOM Research Lab</p>
      </footer>
    </div>
