<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://atlanmod.fr/collaboro/synchronization"
            class="fr.inria.atlanmod.collaboro.Synchronization.SynchronizationPackage"
            genModel="model/Synchronization.genmodel"/>
   </extension>

</plugin>
