<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.inria.atlanmod.collaboro.history.presentation.HistoryModelWizardID"
            name="%_UI_HistoryModelWizard_label"
            class="fr.inria.atlanmod.collaboro.history.presentation.HistoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HistoryModelFile.gif">
         <description>%_UI_HistoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="fr.inria.atlanmod.collaboro.history.presentation.HistoryEditorID"
            name="%_UI_HistoryEditor_label"
            icon="icons/full/obj16/HistoryModelFile.gif"
            extensions="history"
            class="fr.inria.atlanmod.collaboro.history.presentation.HistoryEditor"
            contributorClass="fr.inria.atlanmod.collaboro.history.presentation.HistoryActionBarContributor">
      </editor>
   </extension>

</plugin>
