<form name="newCollaboration" novalidate>
	<div class="modal-header">
        <h4>{{dialogtitle}}</h4>
    </div>
    <div class="modal-body">
    	<div class="form-group">
    		<label>Type of collaboration</label>
    		<select  class="form-control" ng-model="collaboration.data.type" >
				<option value="Proposal">Proposal</option>
				<option value="Solution">Solution</option>
				<option value="Comment">Comment</option>
			</select>
		</div>	
		<div class="form-group">	
			<label>Rationale</label>
			<textarea rows="3" class="form-control" ng-model="collaboration.data.rationale"></textarea>
		</div>
		<div class="form-group">
			<label>Referred elements</label>
			<input style="height: 100%;"
				class="form-control"
    			type="hidden"
    			ui-select2="select2Options"
    			ng-model="collaboration.data.referredElements">
		</div>
		<!--<div class="form-group">	
			<label>Votes agree</label>
			<input type="text" ng-readonly="true" class="form-control" ng-model="collaboration.data.agree">
		</div>	
		<div class="form-group">
			<label>Votes disagree</label>
			<input type="text" ng-readonly="true" class="form-control" ng-model="collaboration.data.disagree">
		</div>	-->
    </div>

    </label>
	
	<!-- <pre ng-bind="collaboration | json"></pre> -->

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="add(collaboration)">{{mode}}</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
	
</form>