<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Mapping -->
      <package
            uri="http://inria.fr/collaboro/mapping"
            class="mapping.MappingPackage"
            genModel="model/Mapping.genmodel"/>
   </extension>

</plugin>
