<form name="newCollaboration" novalidate>
	<div class="modal-header">
        <h4>{{dialogtitle}}</h4>
    </div>
    <div class="modal-body">
    	<div class="form-group">
    		<label>Type of collaboration</label>
    		<!--<select  class="form-control" ng-model="newcollaboration.label" >-->
    		<select  class="form-control" ng-model="newcollaboration.data.type" >
				<option value="Proposal" ng-selected="false">Proposal</option>
				<option value="Solution" ng-selected="false">Solution</option>
				<option value="Comment" ng-selected="false">Comment</option>
			</select>
		</div>	
    	<!--<div class="form-group">
    		<label>Proposed by</label>
			<input type="text" class="form-control" ng-model="newcollaboration.data.username">
		</div>-->
		<div class="form-group">	
			<label>Rationale</label>
			<textarea rows="3" class="form-control" ng-model="newcollaboration.data.description"></textarea>
		</div>
		<div class="form-group" ng-show="newcollaboration.data.type == 'Solution'">
			<label>Action list</label>
			<textarea rows="3" class="form-control" ng-model="newcollaboration.data.actions"></textarea>
		</div>
		<div class="form-group">
			<label>Referred elements</label>
			<!--<select ui-select2="select2Options" class="form-control" ng-model="select2" data-placeholder="Pick a number">
    			<option value=""></option>
    			<option ng-repeat="number in range" value="{{number.value}}">{{number.text}}</option>
			</select>-->
			<input
				class="form-control"
    			type="hidden"
    			ui-select2="select2Options"
    			ng-model="newcollaboration.data.referredElements"
    		>
		</div>
		<div class="form-group">	
			<label>Votes agree</label>
			<input type="text" ng-readonly="true" class="form-control" ng-model="newcollaboration.data.agree">
		</div>	
		<div class="form-group">
			<label>Votes disagree</label>
			<input type="text" ng-readonly="true" class="form-control" ng-model="newcollaboration.data.disagree">
		</div>	
    </div>

    </label>
	
	<pre ng-bind="newcollaboration | json"></pre> 

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="add(newcollaboration)">Add</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
	
</form>